drp/
irp/
outputs/
# Virtual Environment
venv/

# Database Files
*.db

# Compiled Python Files
__pycache__/
db/__pycache__/
*.pyc

# Outputs & Logs
outputs/
logs/

# Ignore pytest cache and coverage reports
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.coverage
htmlcov/

# Ignore backups
# Ignore backups and tar files
*.tar.gz
*.zip
*.bak
